.categories,
.ordering li span {
  color: #929292;
}

.filter:after {
  content: '';
  position: relative;
  width: 8px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  font-family: ElegantIcons;
  font-size: 14px;
  line-height: 1em;
  margin-left: 8px;
  clip-path: polygon(50% 75%, 0 0, 100% 0);
  background: black;
}

.ordering {
  background-color: #212121;
  padding: 35px 24px;
  color: white;
  display: none;
}
