.logo {
  display: block;
  max-width: 120px;
  margin-left: auto;
  margin-right: auto;
}

.logo div {
  display: block !important;
}

.logo img {
  display: block;
}

@media (min-width: 1024px) {
  .logo {
    margin-left: -10px;
  }
}
